#about{
    /*background: #0e2945;*/
    background: black;
    width: 100vw;
    height: 700px;
    position: relative;
}
#about>section:first-child>h2.topic1{
    color: #00ffff;
    position: absolute;
    left:750px;
    font-size: 70px;
    margin-top: 40px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#about>section:first-child>h2.topic2{
    color: white;
    position: absolute;
    left: 800px;
    font-size: 30px;
    margin-top: 60px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#about>section:nth-child(1)>div{
    width: 300px;
    height: 5px;
    position: absolute;
    background-color: #00ffff;
    left: 799px;
    margin-top: 90px;
}

#about>section:nth-child(2)>div{
    width: 550px;
    height: 180px;
    /*border:2px solid white;*/
    position: absolute;
    top: 250px;
    margin-left: 700px;
}
#about>section:nth-child(2)>div>p{
    font-size: 25px;
    color: cyan;
}
#about>section:nth-child(2)>div>p{
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
#about>section:nth-child(2)>div>button{
    padding: 17.5px 60px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    position: absolute;
    margin-left: 200px;
    top: 240px;
    font-size: 13px;
}
#about>section:nth-child(2)>div>button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

#about>section:nth-child(3)>div:first-child{
    position: absolute;
    width: 445px;
    height: 417px;
    border-radius: 100%;
    background: linear-gradient(60deg, #00ffff,white);
    filter: blur(100px);
    margin-top: 156px;
    left: 150px;
}
#about>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    border: 10px solid white;
    background: linear-gradient(180deg,black,white);
    margin-top: 140px;
    left: 138px;
}
#about>section:nth-child(3)>img{
    width: 1080px;
    position: absolute;
    left: -10vw;
    margin-top: -3vw;
    padding: 0;
}




/*media query for laptop 1440px*/
@media all and (max-width: 1440px){
    #about{
        /*background: #0e2945;*/
        background: black;
        width: 1440px;
        height: 700px;
        position: relative;
    }
    #about>section:first-child>h2.topic1{
        color: #00ffff;
        position: absolute;
        left:750px;
        font-size: 70px;
        margin-top: 40px;
        font-family:"Kameron", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:first-child>h2.topic2{
        color: white;
        position: absolute;
        left: 800px;
        font-size: 30px;
        margin-top: 60px;
        font-family:"Kameron", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:nth-child(1)>div{
        width: 300px;
        height: 5px;
        position: absolute;
        background-color: #00ffff;
        left: 799px;
        margin-top: 90px;
    }

    #about>section:nth-child(2)>div{
        width: 550px;
        height: 180px;
        /*border:2px solid white;*/
        position: absolute;
        top: 250px;
        margin-left: 700px;
    }
    #about>section:nth-child(2)>div>p{
        font-size: 25px;
        color: cyan;
    }
    #about>section:nth-child(2)>div>p{
        font-family: "Gowun Batang", serif;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:nth-child(2)>div>button{
        padding: 17.5px 60px;
        border: 0;
        border-radius: 100px;
        background-color: #2ba8fb;
        color: #ffffff;
        font-weight: Bold;
        position: absolute;
        margin-left: 200px;
        top: 240px;
        font-size: 13px;
    }
    #about>section:nth-child(2)>div>button:hover {
        background-color: #6fc5ff;
        box-shadow: 0 0 20px #6fc5ff50;
        transform: scale(1.1);
    }

    #about>section:nth-child(3)>div:first-child{
        position: absolute;
        width: 445px;
        height: 417px;
        border-radius: 100%;
        background: linear-gradient(60deg, #00ffff,white);
        filter: blur(100px);
        margin-top: 156px;
        left: 150px;
    }
    #about>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 450px;
        height: 450px;
        border-radius: 100%;
        border: 10px solid white;
        background: linear-gradient(180deg,black,white);
        margin-top: 140px;
        left: 138px;
    }
    #about>section:nth-child(3)>img{
        width: 1080px;
        position: absolute;
        left: -10vw;
        margin-top: -3vw;
        padding: 0;
    }

}

/*media query for tablet*/
@media all and (max-width: 768px){
    #about{
        /*background: #0e2945;*/
        background: black;
        width: 768px;
        height: 642px;
        position: relative;
    }
    #about>section:first-child>h2.topic1{
        color: #00ffff;
        position: absolute;
        left:376px;
        font-size: 45px;
        margin-top: 50px;
        font-family:"Kameron", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:first-child>h2.topic2{
        color: white;
        position: absolute;
        left: 402px;
        font-size: 25px;
        margin-top: 60px;
        font-family:"Kameron", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:nth-child(1)>div{
        width:200px;
        height: 3px;
        position: absolute;
        background-color: #00ffff;
        left: 409px;
        margin-top: 85px;
    }

    #about>section:nth-child(2)>div{
        width: 380px;
        height: 100px;
        /*border:2px solid white;*/
        position: absolute;
        top: 150px;
        margin-left: 350px;
    }
    #about>section:nth-child(2)>div>p{
        font-size: 20px;
        color: cyan;
    }
    #about>section:nth-child(2)>div>p{
        font-family: "Gowun Batang", serif;
        font-weight: 400;
        font-style: normal;
    }
    #about>section:nth-child(2)>div>button{
        padding: 12.5px 60px;
        border: 0;
        border-radius: 100px;
        background-color: #2ba8fb;
        color: #ffffff;
        font-weight: Bold;
        position: absolute;
        margin-left: 180px;
        top: 240px;
        font-size: 10px;
    }
    #about>section:nth-child(2)>div>button:hover {
        background-color: #6fc5ff;
        box-shadow: 0 0 20px #6fc5ff50;
        transform: scale(1.1);
    }

    #about>section:nth-child(3)>div:first-child{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background: linear-gradient(60deg, #00ffff,white);
        filter: blur(100px);
        margin-top: 300px;
        left: 100px;
    }
    #about>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        border: 10px solid white;
        background: linear-gradient(180deg,black,white);
        margin-top: 320px;
        left: 140px;
    }
    #about>section:nth-child(3)>img{
        width:700px;
        position: absolute;
        left: -10vw;
        margin-top: 23vw;
        padding: 0;
    }
}



