#about{
    background: #0e2945;
    width: 100vw;
    height: 800px;
    position: relative;
}
#about>section:first-child>h2:first-child{
    color: white;
    position: absolute;
    left:750px;
    font-size: 30px;
    margin-top: 40px;
}
#about>section:first-child>h2:nth-child(2){
    color: #00ffff;
    position: absolute;
    left: 840px;
    font-size: 30px;
    margin-top: 40px;
}
#about>section:nth-child(2)>img{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 250px;
}
#about>section:nth-child(2)>div{
    width: 550px;
    height: 180px;
    /*border:2px solid white;*/
    position: absolute;
    top: 250px;
    margin-left: 700px;
}
#about>section:nth-child(2)>div>p{
    font-size: 25px;
    color: cyan;
}
#about>section:nth-child(2)>button{
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    position: absolute;
    margin-left: 500px;
    top: 500px;
}
button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}