#contact{
    width: 100vw;
    height: 630px;
    background: black;
    /*background: black;*/
    position: relative;
}
#contact>section:first-child>h2.c1{
    color: #00ffff;
    position: absolute;
    left:700px;
    font-size: 70px;
    margin-top: 70px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#contact>section:first-child>h2.c2{
    color: cyan;
    position: absolute;
    left: 750px;
    font-size: 30px;
    margin-top: 90px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#contact>section:nth-child(1)>div{
    width: 300px;
    height: 5px;
    position: absolute;
    background-color: cyan;
    left: 750px;
    margin-top: 120px;
}
#contact>section:nth-child(1)>img {
    width: 100vw;
    height: 650px;
}

#contact>section:nth-child(2)>div{
    position: absolute;
    width: 900px;
    height: 5px;
    margin-left: 300px;
   top: 170px;
}
#contact>section:nth-child(2)>div>p{
    color: #FFEE58;
    font-size: 20px;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#contact>section:nth-child(3){
    position: absolute;
    top: 220px;
    left: 300px;
}
#contact>section:nth-child(3)>div{
    margin: 20px;
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    /*font-size: 16px;*/
    border-radius: 9999px;
    box-shadow: inset 2px 5px 100px white;
    color: black;
}
#contact>section:nth-child(3)>div:nth-child(1){
    width: 300px;
}
#contact>section:nth-child(3)>div:nth-child(2){
    width: 300px;
}
#contact>section:nth-child(3)>div:nth-child(3){
    width: 700px;
}
#contact>section:nth-child(3)>div:nth-child(4){
    width: 700px;
    height: 100px;
}
#contact>section:nth-child(3)>div:nth-child(1)>input{
    width: 300px;
 }
#contact>section:nth-child(3)>div:nth-child(2)>input{
width: 300px;
}
#contact>section:nth-child(3)>div:nth-child(3)>input{
    width: 700px;
    height: 30px;
}
#contact>section:nth-child(3)>div:nth-child(4)>textarea{
    height: 70px;
    width: 680px;
}
#contact>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    top: 0px;
    left: 400px;
}
#contact>section:nth-child(3)>button{
    padding: 12.5px 70px;
    border: 0;
    border-radius: 100px;
    background-color: #4781e3;
    color: white;
    font-weight: Bold;
    position: absolute;
    margin-left: 100px;
    top: 350px;
    left: 210px;
    font-size: 13px;
}
#contact>section:nth-child(3)>button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}


/*media query for laptop 1440px*/
@media all and (max-width: 1440px){
    #contact>section:first-child>h2.c1{
        margin-top: 20px;
    }
    #contact>section:first-child>h2.c2{
        margin-top: 40px;
    }
    #contact>section:nth-child(1)>div{
        margin-top: 72px;
    }
    #contact>section:nth-child(1)>img {
        width: 1440px;
        height: 650px;
    }
    #contact>section:nth-child(3){
        top: 215px;
        left: 365px;
    }
    #contact>section:nth-child(2)>div{
        margin-left: 365px;
        top: 155px;
    }
}

@media all and (max-width: 1024px){
    #contact>section:first-child>h2.c1{
        margin-top: 50px;
        left: 300px;
    }
    #contact>section:first-child>h2.c2{
        margin-top: 70px;
        left: 355px;
    }
    #contact>section:nth-child(1)>div{
        margin-top: 100px;
        left: 350px;
    }
    #contact>section:nth-child(1)>img {
        width: 1024px;
        height: 650px;
    }
    #contact>section:nth-child(3){
        top: 215px;
        left: 165px;
    }
    #contact>section:nth-child(2)>div{
        margin-left: 130px;
        top: 155px;
    }
}

/*media query for tablet*/
@media all and (max-width: 768px){
    #contact>section:nth-child(1)>img {
        width: 768px;
        height: 650px;
    }
    #contact>section:nth-child(3){
        top: 215px;
        left: -6px;
    }
    #contact>section:nth-child(2)>div{
        margin-left: 25px;
        top: 155px;
    }
    #contact>section:nth-child(2)>div>p{
        font-size: 18px;
    }
}

@media all and (max-width: 426px){

}

@media all and (max-width: 376px){

}

@media all and (max-width: 320px){

}