#education{
    width: 100vw;
    height: 700px;
    background: black;
    position: relative;
    top: 20px;
}
#education>section:first-child>h2.e1{
    font-size: 70px;
    color: #00ffff;
    position: absolute;
    left:750px;
    margin-top: 40px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#education>section:first-child>h2.e2{
    color: white;
    position: absolute;
    left: 800px;
    font-size: 30px;
    margin-top: 60px;
    font-family:"Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#education>section:nth-child(1)>div{
    width: 300px;
    height: 5px;
    position: absolute;
    background-color: #00ffff;
    left: 792px;
    margin-top: 90px;
}

#education>section:nth-child(2){
    position: absolute;
}
#education>section:nth-child(2)>div:first-child{
    width: 2px;
    height: 500px;
    background: white;
    margin-left: calc(100vw/2);
    position: absolute;
    margin-top: 120px;
}
#education>section:nth-child(2)>div:first-child>div{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    background-color: #00ffff;
}
#education>section:nth-child(2)>div:first-child>div:first-child{
    margin-top:10px;
    left: 5px;
}
#education>section:nth-child(2)>div:first-child>div:nth-child(2){
    margin-top: 230px;
    right: 5px;
}
#education>section:nth-child(2)>div:first-child>div:nth-child(3){
    margin-top: 450px;
    left: 5px;
}

#education>section:nth-child(3)>section{
    width:380px;
    height: 150px;
    background: #5399d3;
    position:absolute;
    border-radius:30px;
    background: linear-gradient(130deg, black 70% ,white 300% );
    box-shadow:-12px -12px 10px dimgray ;
}
#education>section:nth-child(3)>section:first-child{
    margin-top: 110px;
    left: 800px;
    border: none;
    outline: none;
    padding: 10px 20px;
}
#education>section:nth-child(3)>section:nth-child(2){
    margin-top: 280px;
    left: 360px;
}
#education>section:nth-child(3)>section:nth-child(3){
    margin-top:480px;
    left: 800px;
}

#education>section:nth-child(3)>section:first-child>h4{
    font-size: 30px;
    color: aqua;
    margin-top: 20px;
    margin-left: 150px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#education>section:nth-child(3)>section:first-child>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 28px;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#education>section:nth-child(3)>section:nth-child(2)>h4{
    font-size: 30px;
    color: aqua;
    margin-top: 20px;
    margin-left: 150px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#education>section:nth-child(3)>section:nth-child(2)>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left:28px;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#education>section:nth-child(3)>section:nth-child(3)>h4{
    font-size: 30px;
    color: aqua;
    margin-top: 20px;
    margin-left: 150px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#education>section:nth-child(3)>section:nth-child(3)>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/*media query for laptop 1440px*/
@media all and (max-width: 1440px){
    #education>section:first-child>h2.e1{
        left:562px;
    }
    #education>section:first-child>h2.e2{
        left: 607px;
    }
    #education>section:nth-child(1)>div{
        width: 257px;
        left: 608px;
    }
    #education>section:nth-child(3)>section:first-child{
        margin-top: 119px;
    }
    #education>section:nth-child(3)>section:nth-child(2){
        left: 290px;
    }
    #education>section:nth-child(3)>section:first-child>p{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 28px;
        color: white;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

@media all and (max-width: 1024px){
    #education>section:first-child>h2.e1{
        left:475px;
    }
    #education>section:first-child>h2.e2{
        left: 520px;
    }
    #education>section:nth-child(1)>div{
        width: 257px;
        left: 518px;
    }
    #education>section:nth-child(2)>div:first-child{
        width: 2px;
        height: 500px;
        background: white;
        margin-left: calc(100vw/2);
        position: absolute;
        margin-top: 130px;
    }
    #education>section:nth-child(3)>section:first-child{
        margin-top: 128px;
        left: 567px;
    }
    #education>section:nth-child(3)>section:nth-child(2){
        left: 97px;
    }
    #education>section:nth-child(3)>section:nth-child(3){
        left: 567px;
    }
    #education>section:nth-child(3)>section:first-child>p{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 28px;
        color: white;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

/*media query for tablet*/
@media all and (max-width: 768px){
    #education>section:first-child>h2.e1{
        font-size: 45px;
        left: 376px;
        margin-top: 50px;
    }
    #education>section:first-child>h2.e2{
        font-size: 25px;
        left: 402px;
        margin-top: 60px;
    }
    #education>section:nth-child(1)>div{
        width: 200px;
        height: 3px;
        left: 403px;
        margin-top: 85px;
    }
    #education>section:nth-child(2)>div:first-child{
        width: 2px;
        height: 500px;
        margin-left: calc(768px/2);
        margin-top: 120px;
    }
    #education>section:nth-child(2)>div:first-child>div{
        width: 16px;
        height: 16px;
    }
    #education>section:nth-child(2)>div:first-child>div:first-child{
        margin-top:10px;
        left: 5px;
    }
    #education>section:nth-child(2)>div:first-child>div:nth-child(2){
        margin-top: 230px;
        right: 5px;
    }
    #education>section:nth-child(2)>div:first-child>div:nth-child(3){
        margin-top: 450px;
        left: 5px;
    }
    #education>section:nth-child(3)>section{
        width:280px;
        height: 125px;
    }
    #education>section:nth-child(3)>section:first-child{
        margin-top: 114px;
        left: 435px;
    }
    #education>section:nth-child(3)>section:nth-child(2){
        margin-top: 337px;
        left: 65px;
    }
    #education>section:nth-child(3)>section:nth-child(3){
        margin-top:480px;
        left: 435px;
    }

    #education>section:nth-child(3)>section:first-child>p{
        font-size: 15px;
    }
    #education>section:nth-child(3)>section:nth-child(2)>p{
        font-size: 15px;
    }
    #education>section:nth-child(3)>section:nth-child(3)>p{
        font-size: 15px;
    }
}
