#education{
    width: 100vw;
    height: 700px;
    background: black;
    position: relative;
}
#education>section:first-child>h2{
    color: white;
    position: absolute;
    left: calc(100vw/2);
    font-size: 30px;
    margin-top: 40px;
}
#education>section:nth-child(2){
    position: absolute;
}
#education>section:nth-child(2)>div:first-child{
    width: 2px;
    height: 500px;
    background: cyan;
    margin-left: calc(100vw/2);
    position: absolute;
    margin-top: 120px;
}
#education>section:nth-child(2)>div:first-child>div{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    background-color: #00ffff;
}
#education>section:nth-child(2)>div:first-child>div:first-child{
    margin-top:10px;
    left: 5px;
}
#education>section:nth-child(2)>div:first-child>div:nth-child(2){
    margin-top: 230px;
    right: 5px;
}
#education>section:nth-child(2)>div:first-child>div:nth-child(3){
    margin-top: 450px;
    left: 5px;
}
#education>section:nth-child(3)>section{
    width:380px;
    height: 150px;
    border: 2px solid aqua;
    background: #5399d3;
    position:absolute;
    border-radius:50%;
}
#education>section:nth-child(3)>section:first-child{
    margin-top: 75px;
    left: 800px;
}
#education>section:nth-child(3)>section:nth-child(2){
    margin-top: 280px;
    left: 360px;
}
#education>section:nth-child(3)>section:nth-child(3){
    margin-top:480px;
    left: 800px;
}
#education>section:nth-child(3)>section:first-child>h4{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    margin-left: 150px;
}
#education>section:nth-child(3)>section:first-child>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 28px;
}
#education>section:nth-child(3)>section:nth-child(2)>h4{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    margin-left: 150px;
}
#education>section:nth-child(3)>section:nth-child(2)>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left:28px;
}
#education>section:nth-child(3)>section:nth-child(3)>h4{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    margin-left: 150px;
}
#education>section:nth-child(3)>section:nth-child(3)>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
}