header{
    position: fixed;
    display: inline-block;
    width: 100vw;
    /*background-color: rgb(52, 51, 73);*/
    background-color: #758694;
    height: 60px;
    z-index: 9999;
}
header>section{
    display: flex;
}
header>section>img{
    width: 80px;
    height: 50px;
    top: 10px;
    position: absolute;
    left: 25px;
}
header>nav{
    top: 20px;
    position: absolute;
    right: 30px;
    height: fit-content;
}
header>nav>ul>li{
    display: inline-block;
    right: 0;
    padding-left: 20px;
}
header>nav>ul>li>a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);

    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}
header>nav>ul>li>a:hover{
    color: cyan;
}


/*Media query for tablet*/
@media all and (max-width: 768px){
    header{
        position: fixed;
        display: inline-block;
        width: 768px;
        /*background-color: rgb(52, 51, 73);*/
        background-color: #758694;
        height: 50px;
        z-index: 9999;
    }
    header>section{
        display: flex;
    }
    header>section>img{
        width: 40px;
        height: 25px;
        top: 5px;
        position: absolute;
        left: 15px;
    }
    header>nav{
        top: 10px;
        position: absolute;
        right: 15px;
        height: fit-content;
    }
    header>nav>ul>li{
        display: inline-block;
        right: 0;
        padding-left: 10px;
    }
    header>nav>ul>li>a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(255, 255, 255);

        font-family: "Playfair Display SC", serif;
        font-weight: 400;
        font-style: normal;
    }
    header>nav>ul>li>a:hover{
        color: cyan;
    }
}


/*Media query for mobile phone*/
/*@media all and (max-width: 320px){}*/

/* Media Query for Mobile Phones */
/*@media only screen and (max-width: 768px) {*/
/*    header {*/
/*        height: auto;*/
/*        display: block;*/
/*        padding: 10px;*/
/*    }*/

/*    header>section {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        margin-bottom: 10px;*/
/*    }*/

/*    header>section>img {*/
/*        width: 60px;*/
/*        height: 40px;*/
/*        position: static; !* Removes absolute positioning *!*/
/*        margin: 0 auto;*/
/*    }*/

/*    header>nav {*/
/*        top: 0;*/
/*        position: static; !* Position below logo for mobile view *!*/
/*        text-align: center;*/
/*        width: 100%;*/
/*    }*/

/*    header>nav>ul {*/
/*        padding: 0;*/
/*    }*/

/*    header>nav>ul>li {*/
/*        display: block;*/
/*        padding-left: 0;*/
/*        padding-top: 10px;*/
/*    }*/

/*    header>nav>ul>li>a {*/
/*        font-size: 16px; !* Adjust font size for mobile *!*/
/*    }*/
/*}*/

