#project>section{
    width: 100vw;
    height: 620px;
    background-color: black;
    position: relative;
}
#project>section:first-child>h2{
    font-size: 30px;
    color: white;
    position: absolute;
    left: calc(100vw/2);
    margin-top: 40px;
}
#project>section:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: -500px;
}
#project>section:nth-child(2)>div{
    border: 1px solid blue;
}
#project>section:nth-child(2)>div:hover {
    box-shadow: 10px 5px 50px #00ffff;
}
#project>section:nth-child(2)>div>h4{
    font-size: 20px;
    color: blue;
}
#project>section:nth-child(2)>div>p{
    margin-top: 15px;
    font-size: 20px;
    color: #0e2945;
}
#project>section:nth-child(2)>div{
    max-width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 100px auto;
}