#skill{
    width: 100vw;
    height: 750px;
    background-color: black;
    position: relative;
}
#skill>section:first-child>h2{
    font-size:30px;
    position: absolute;
    left: calc(100%/2);
    margin-top: 40px;
    color: white;
}
#skill>section:nth-child(2){
    display: flex;
    justify-content: space-evenly;
}
#skill>section:nth-child(2)>div{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color:white;
    margin-top: 200px;
    position: relative;
}
#skill>section:nth-child(2)>div>h4{
    font-size: 20px;
    color: cyan;
    margin-top: -45px;
}
#skill>section:nth-child(2)>div>img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#skill>section:nth-child(3){
    display: flex;
    justify-content: space-evenly;
}
#skill>section:nth-child(3)>div{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color:white;
    margin-top: 190px;
    position: relative;
}
#skill>section:nth-child(3)>div>h4{
    font-size: 20px;
    color: cyan;
    margin-top: -45px;
}
#skill>section:nth-child(3)>div>img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}