#welcome{
    display: flex;
    position: relative;
    background-color: black;
    width: 100vw;
    height: 700px;
}
#welcome>section:first-child>h1{
    display: flex;
    position: absolute;
    top: 14vh;
    text-align: center;
    align-items: center;
    font-size: 100px;
    color: aqua;
    left: 10vw;
    animation-iteration-count: infinite;
    /*border: 5px solid white;*/
}
#welcome>section:first-child>h1 {
    /*font-family: "Tilt Prism", sans-serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*font-variation-settings:*/
    /*        "XROT" 0,*/
    /*        "YROT" 0;*/
        font-family: "Island Moments", cursive;
        font-weight: 400;
        font-style: normal;
    }
#welcome>section:first-child>h4{
    display: flex;
    position: absolute;
    top: 35vh;
    font-size: 40px;
    color: white;
    left: 15vw;
}
#welcome>section:first-child>h3{
    display: flex;
    position: absolute;
    top: 55vh;
    font-size: 20px;
    color: white;
    left: 15vw;
}
#welcome>section:first-child>span{
    display: flex;
    position: absolute;
    top: 45vh;
    font-size: 40px;
    color: aqua;
    left: 15vw;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    animation-iteration-count: infinite;
}

#welcome>section:nth-child(2){
    width: 700px;
    height:700px;
    border-radius: 100%;
    margin: -30px;
    box-shadow: 5px 5px 40px aqua;
}
#welcome>section:nth-child(2)>img{
    width: 700px;
    right: 8px;
    top: -150px;
    position: absolute;
}

#welcome>section:nth-child(3)>div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 440px;
    border-radius: 100%;
    background-color: black;
    border: 3px solid aqua;
    left: 15vw;
}
#welcome>section:nth-child(3)>div:hover{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    border-radius: 100%;
    background-color: aqua;
    box-shadow: 10px 5px 50px aqua;
    left: 15vw;
}
#welcome>section:nth-child(3)>div>img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#welcome>section:nth-child(3)>div:nth-child(2){
    left: 20vw;
}
#welcome>section:nth-child(3)>div:nth-child(3){
    left: 25vw;
}
#welcome>section:nth-child(3)>div:nth-child(4){
    left: 30vw;
}
#welcome>section:nth-child(3)>div:nth-child(5){
    left: 35vw;
}

#welcome>section.img>div:nth-child(2){
    position: absolute;
    width: 370px;
    height: 500px;
    border: 10px solid white;
    top: 140px;
    right: 150px;
    background: black;
}
#welcome>section.img>div:first-child{
    position: absolute;
    width: 580px;
    height: 580px;
    border-radius: 100%;
    background: linear-gradient(120deg, #001a80,white);
    filter: blur(80px);
    right: 20px;
    margin-top: 86px;
}
#welcome>section.img>img{
    width: 485px;
    margin-left: 280px;
    position: absolute;
    bottom: 69px;
}

/*media query for laptop 1440px*/
@media all and (max-width: 1440px){
    #welcome>section:nth-child(2){
        margin: -45px;
    }
    #welcome>section.img>div:nth-child(2){
        right: 236px;
    }
    #welcome>section.img>div:first-child{
        right: 136px;
    }
}

@media all and (max-width: 1024px){
    #welcome{
        height: 700px;
    }
    #welcome>section:first-child>h1{
        font-size: 90px;
    }
    #welcome>section:first-child>span{
        font-size: 37px;
    }
    #welcome>section:nth-child(2){
        margin: -104px;
    }
    #welcome>section:nth-child(2)>img{
        width: 700px;
        right: 8px;
        top: -150px;
    }

    #welcome>section:nth-child(3)>div:nth-child(2){
        left: 21vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(3){
        left: 27vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(4){
        left: 33vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(5){
        left: 39vw;
    }

    #welcome>section.img>div:nth-child(2){
        width: 327px;
        height: 446px;
        right: 38px;
    }
    #welcome>section.img>div:first-child{
        width: 370px;
        height: 510px;
        right: -4px;
    }
    #welcome>section.img>img{
        width: 485px;
        margin-left: 280px;
        position: absolute;
        bottom: 69px;
    }
}

/*media query for tablet*/
@media all and (max-width: 769px){
    #welcome {
        height: 642px;
    }
    #welcome>section:first-child>h1 {
        top: 11vh;
        font-size: 70px;
        left: 10vw;
    }
    #welcome>section:first-child>h4{
        top: 30vh;
        font-size: 30px;
        left: 15vw;
    }
    #welcome>section:first-child>span {
        top:37vh;
        font-size: 30px;
        left: 15vw;
    }
    #welcome>section:first-child>h3{
        top: 45vh;
        font-size: 20px;
        left: 15vw;
    }
    #welcome>section:nth-child(2){
        width: 500px;
        height:500px;
        border-radius: 100%;
        margin: -40px;
        box-shadow: 5px 5px 40px aqua;
    }
    #welcome>section:nth-child(3)>div{
        width: 50px;
        height: 50px;
        top: 343px;
        border-radius: 100%;
        border: 3px solid aqua;
        left: 14vw;
    }
    #welcome>section:nth-child(3)>div:hover{
        width: 50px;
        height: 50px;
        top: 360px;
        left: 15vw;
    }
    #welcome>section:nth-child(3)>div>img{
        width: 40px;
        height: 40px;
    }
    #welcome>section:nth-child(3)>div:nth-child(2){
        left: 21vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(3){
        left: 28vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(4){
        left: 35vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(5){
        left: 42vw;
    }
    #welcome>section.img>div:nth-child(2){
        width: 200px;
        height: 300px;
        border: 10px solid white;
        top: 140px;
        right: 55px;
    }
    #welcome>section.img>div:first-child{
        width: 359px;
        height: 367px;
        border-radius: 100%;
        right: -75px;
        margin-top: 86px;
    }
    #welcome>section.img>img{
        width: 275px;
        margin-left: 7px;
        bottom: 69px;
    }
}

@media all and (max-width: 426px){
    #welcome{
        height: 500px;
    }
    #welcome>section:first-child>h1{
        top: 11vh;
        font-size: 55px;
        left: 10vw;
    }
    #welcome>section:first-child>h4{
        top: 30vh;
        font-size: 28px;
        left: 15vw;
    }
    #welcome>section:first-child>span {
        top:37vh;
        font-size: 28px;
        left: 15vw;
    }
    #welcome>section:first-child>h3{
        top: 45vh;
        font-size: 18px;
        left: 15vw;
    }
    #welcome>section:nth-child(2){
        width: 500px;
        height:500px;
        border-radius: 100%;
        margin: -95px;
        box-shadow: 5px 5px 40px aqua;
    }
    #welcome>section:nth-child(3)>div{
        width: 40px;
        height: 40px;
        top: 325px;
        border-radius: 100%;
        border: 3px solid aqua;
        left: 14vw;
    }
    #welcome>section:nth-child(3)>div:hover{
        width: 40px;
        height: 40px;
        top: 325px;
        left: 15vw;
    }
    #welcome>section:nth-child(3)>div>img{
        width: 35px;
        height: 35px;
    }
    #welcome>section:nth-child(3)>div:nth-child(2){
        left: 24vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(3){
        left: 34vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(4){
        left: 44vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(5){
        left: 54vw;
    }
    #welcome>section.img>div:nth-child(2){
      display: none;
    }
    #welcome>section.img>div:first-child{
       display: none;
    }
}

@media all and (max-width: 376px){
    #welcome{
        height: 500px;
    }
    #welcome>section:first-child>h1{
        top: 11vh;
        font-size: 55px;
        left: 10vw;
    }
    #welcome>section:first-child>h4{
        top: 30vh;
        font-size: 28px;
        left: 15vw;
    }
    #welcome>section:first-child>span {
        top:37vh;
        font-size: 28px;
        left: 15vw;
    }
    #welcome>section:first-child>h3{
        top: 45vh;
        font-size: 18px;
        left: 15vw;
    }
    #welcome>section:nth-child(2){
        width: 500px;
        height:500px;
        border-radius: 100%;
        margin: -100px;
        box-shadow: 5px 5px 40px aqua;
    }
    #welcome>section:nth-child(3)>div{
        width: 40px;
        height: 40px;
        top: 325px;
        border-radius: 100%;
        border: 3px solid aqua;
        left: 14vw;
    }
    #welcome>section:nth-child(3)>div:hover{
        width: 40px;
        height: 40px;
        top: 325px;
        left: 15vw;
    }
    #welcome>section:nth-child(3)>div>img{
        width: 35px;
        height: 35px;
    }
    #welcome>section:nth-child(3)>div:nth-child(2){
        left: 25vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(3){
        left: 36vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(4){
        left: 47vw;
    }
    #welcome>section:nth-child(3)>div:nth-child(5){
        left: 58vw;
    }
    #welcome>section.img>div:nth-child(2){
        display: none;
    }
    #welcome>section.img>div:first-child{
        display: none;
    }
}

