#welcome{
    display: flex;
    position: relative;
    background-color: black;
    width: 100vw;
    height: 700px;
}
#welcome>section:first-child>h1{
    display: flex;
    position: absolute;
    top: 14vh;
    text-align: center;
    align-items: center;
    font-size: 100px;
    color: rgba(9, 72, 202, 0.98);
    left: 10vw;
    /*border: 5px solid white;*/
}
#welcome>section:first-child>h1 {
    /*font-family: "Tilt Prism", sans-serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*font-variation-settings:*/
    /*        "XROT" 0,*/
    /*        "YROT" 0;*/
        font-family: "Island Moments", cursive;
        font-weight: 400;
        font-style: normal;
    }
#welcome>section:first-child>h4{
    display: flex;
    position: absolute;
    top: 35vh;
    font-size: 40px;
    color: white;
    left: 15vw;
}
#welcome>section:first-child>h3{
    display: flex;
    position: absolute;
    top: 55vh;
    font-size: 20px;
    color: white;
    left: 15vw;
}
#welcome>section:first-child>span{
    display: flex;
    position: absolute;
    top: 45vh;
    font-size: 40px;
    color: aqua;
    left: 15vw;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}
#welcome>section:nth-child(2){
    width: 700px;
    height:700px;
    border-radius: 100%;
    margin: -46px;
    box-shadow: 5px 5px 40px aqua;
}
#welcome>section:nth-child(2)>img{
    width: 700px;
    right: 8px;
    top: -150px;
    position: absolute;
    /*border: 5px solid aqua;*/
    /*border-radius: 100%;*/
}
#welcome>section:nth-child(3)>div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 440px;
    border-radius: 100%;
    background-color: black;
    border: 3px solid aqua;
    /*box-shadow: 10px 5px 50px aqua;*/
    left: 15vw;
}
#welcome>section:nth-child(3)>div:hover{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    border-radius: 100%;
    background-color: aqua;
    box-shadow: 10px 5px 50px aqua;
    left: 15vw;
}
#welcome>section:nth-child(3)>div>img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#welcome>section:nth-child(3)>div:nth-child(2){
    left: 20vw;
}
#welcome>section:nth-child(3)>div:nth-child(3){
    left: 25vw;
}
#welcome>section:nth-child(3)>div:nth-child(4){
    left: 30vw;
}
#welcome>section:nth-child(3)>div:nth-child(5){
    left: 35vw;
}

#welcome>section.img>div:nth-child(2){
    position: absolute;
    width: 370px;
    height: 500px;
    border: 10px solid white;
    top: 140px;
    right: 150px;
    background: black;
}
#welcome>section.img>div:first-child{
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background: linear-gradient(120deg,aqua,white);
    filter: blur(60px);
    right: 60px;
    margin-top: 70px;
}
#welcome>section.img>img{
    width: 495px;
    margin-left: 280px;
    position: absolute;
    bottom: 69px;
}
@media all and (max-width:500px) {
    #welcome>section:nth-child(2)>img{
        display: none;
    }
}